<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.ishuo.sourcePainter.popup"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="de.ishuo.sourcepainter.OpenInExCUE"
               icon="icons/sample.gif"
               id="de.ishuo.sourcePainter.openInExCUE"
               label="Open in Source Painter">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.ishuo.sourcepainter.PaintableEditor"
            default="true"
            extensions="java"
            filenames="*.java"
            icon="icons/SPIcon.png"
            id="de.ishuo.sourcePainter.spEditor"
            name="Source Painter">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.ishuo.sourcePainter.redrawContextMenuLabels">
            <command
                  commandId="de.ishuo.sourcepainter.handler.redrawContextMenuLabelsHandler"
                  icon="icons/refresh.gif"
                  label="Redraw Context Menu Labels"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.ishuo.sourcepainter.handler.RedrawContextMenuLabelsHandler"
            id="de.ishuo.sourcepainter.handler.redrawContextMenuLabelsHandler"
            name="Redraw Context Menu Labels">
      </command>
   </extension>
-->

<extension
      point="org.eclipse.debug.core.launchModes">
   <launchMode
         label="Analyze"
         launchAsLabel="Heros Analysis"
         mode="heros">
   </launchMode>
</extension>
<extension
      point="org.eclipse.debug.core.launchDelegates">
   <launchDelegate
         delegate="heros.debugui.launching.HerosDebugLaunchDelegate"
         id="heros.launchDelegate.java"
         modes="heros"
         name="Analyze Java Appliction with Heros"
         type="org.eclipse.jdt.launching.localJavaApplication">
   </launchDelegate>
</extension>
<extension
      point="org.eclipse.debug.ui.launchGroups">
   <launchGroup
         bannerImage=""
         image=""
         id="heros.launchGroups.analyze"
         label="Analyze"
         mode="heros"
         title="TITLE: Analyze">
   </launchGroup>
</extension>
<extension
      point="org.eclipse.debug.ui.launchConfigurationTabGroups">
   <launchConfigurationTabGroup
         class="heros.debugui.HerosLocalJavaApplicationTabGroup"
         id="heros.launchConfigurationTabGroups.java"
         type="org.eclipse.jdt.launching.localJavaApplication">
      <launchMode
            mode="heros">
      </launchMode>
   </launchConfigurationTabGroup>
</extension>
 
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         id="de.bodden.tamiflex.actionSet"
         label="Heros"
         visible="true">
      <action
            label="Analyze History"
            style="pulldown"
            class="heros.debugui.action.AnalyzeMenuAction"
            menubarPath="org.eclipse.ui.run/runGroup"            
            id="heros.actions.analyzeMenu">
      </action>
      <action
            class="heros.debugui.action.AnalyzeAction"
            icon=""
            id="heros.actions.analyze"
            label="Analyze..."
            menubarPath="org.eclipse.ui.run/runGroup"
            tooltip="Analyze">
      </action>
         <action
               id="heros.debugui.AnalyzeHistoryDropDownAction"
               toolbarPath="debug.ext"
               hoverIcon=""
               class="heros.debugui.action.AnalyzeToolbarAction"
               disabledIcon=""
               icon=""
               label="Analyze"
               style="pulldown">
         </action>
     </actionSet>
</extension>
</plugin>
